@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
   <div class="row">

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Get coding with us today!</h2>
        <ul>
            <li>Create stunning .Net websites</li>
            <li>Want more info?</li>
            <li>FILLER TExt</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Join us now</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Register for new users</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Find your Cohort</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Start coding the prework. It's actually challenging</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Master topics ranging from C# to Javascript</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">We belive in setting the bar very high and then raising it</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">By developing skills from experienced developers you level your skills faster</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">MORE FILLER</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">MORE FILLER</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">MORE FILLER</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">MORE FILLER</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Getting out there</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Complete the bootcamp and begin an exciting career as a developer</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Deep Dive .Net Alumni Group</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish your apps that you created! </a></li>
        </ul>
    </div>
</div>
